.profile__edit-button {
  /* position: absolute; */
  top: 16px;
  right: -42px;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit.png);
}

@media (max-width: 650px) {
  .profile__edit-button {
    top: 2px;
    right: -34px;
  }
}
