.header {
  max-width: 880px;
  box-sizing: border-box;
  width: calc(100% - 24px * 2);
  min-height: 74px;
  padding: 0;
  border-bottom: 1px solid #545454;
}

@media (max-width: 650px) {
  .header {
      min-height: 56px;
      width: 100%;
      padding-left: 27px;
  }
}
