.profile__description {
  width: 100%;
  max-width: calc(100vw - 120px - 150px - 60px - 48px - 24px - 18px - 16px);
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  display: inline-block;
  grid-row-start: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 650px) {
  .profile__description {
    max-width: 100%;
    font-size: 14px;
  }
}
